/* Component-level styles for the UI package */
@import "tailwindcss" prefix(ui);
@import "@repo/tailwind-config";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar-height: 80px;
  --sidebar-width: 56px;
  --footer-height: 109px;
  --detail-medium-contrast: rgba(255, 255, 255, 0.3);
  --text-body: rgba(255, 255, 255, 0.8);
  --text-high-contrast-rgb-value: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --detail-medium-contrast: rgba(255, 255, 255, 0.3);
    --text-body: rgba(255, 255, 255, 0.8);
    --text-high-contrast-rgb-value: 255, 255, 255;
  }
}

@keyframes ScrollToTopHover {
  0%, 100% {
    scale: 100%
  }
  25% {
    scale: 160%
  }
  50% {
    scale: 70%
  }
  75% {
    scale: 120%
  }
}

.ScrollToTopHover:hover {
  animation: ScrollToTopHover 0.75s ease-in-out 1;
}

@keyframes ScrollToTopFade {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.ScrollToTopFadeIn {
  animation: ScrollToTopFade 0.5s ease-in-out forwards;
}

.ScrollToTopFadeOut {
  animation: ScrollToTopFade 0.5s ease-in-out backwards;
}

html {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

main {
  scrollbar-color: #4a5565 #030712;
  overflow-y: scroll !important;
}

body.lock-scrollbar {
  overflow-y: scroll !important;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Common Used Styling */

.head1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 4px;
}

.head2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 4px;
}

.head3 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: white;
  margin-top: 3px;
  padding-top: 8px;
  margin-bottom: 6px;
}

.horRule {
  border-top: 1px solid rgba(75, 85, 99, 0.75);
  margin-top: 4px;
  margin-bottom: 8px;
}